/* General body styling */
body {
	height: 100vh;
	background-color: black;
    font-family: Arial, sans-serif;
	align-content: center;
	text-align: center;
	color: orange;
}
footer {
	margin-top: 50px;
}
h1,h2 {
	color: purple;
}
hr {
	color: white;
	border: 1px dotted white;
}

/* Container for the page */
.wrapper {	
	width: 640px;
	margin: auto;
}

/* Main content area */
.container {
	background-image: radial-gradient( circle farthest-corner at 17.1% 22.8%,  rgba(226,24,24,0.75) 0%, rgba(160,6,6,0.25) 90% );
    border-radius: 10px;
	margin: 0 auto;
	padding: 1px;
}

/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
/* Main styles */
body {
  /* img size is 50x50 */
  background: url('50px.png') repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 4s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 4s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 4s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 4s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}