@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap');

body { /*style the page*/
    font-family: 'Orbitron', sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    transform: scale(0.9);
    width: 100vw;
    height: 100vh;
    overflow: hidden;  /* Prevents any content from overflowing if necessary */
    margin: 0;
}

.notice { /*notice styling*/
        position: absolute;
        top: 0;
        color: white;
    }
        .frame { /*content container frame*/
            background-color: black;
            border: 2px solid white;
            margin: 4px;
            padding: 2px;
        }
        .viewport { /*content container*/
            border: 1px solid white;
            margin: 2px;
            padding: 32px;
        }

.container { /*container styling*/
    display: grid;
    grid-template-areas:
      "header header"
      "image menu"
      "footer footer";
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    /*background-color: black;*/
    padding: 5px;
}
    .container > div {
        /*background-color: rgba(255, 255, 255, 0.8);*/
        padding: 10px;
        position: relative;
    }
    .container > div.header {
        grid-area: header;
        text-align: center;
    }
        div.header h1{
            font-size: 72px;
        }

    .container > div.image {
        grid-area: image;
        text-align: right;
    }
        div.image img {
            width: 40%;
        }
    .container > div.menu {
        grid-area: menu;
    }
        div.menu ul { /*unordered list styling*/
            list-style-type: none;
        }
        div.menu li {
            font-size: 72px;
            margin-bottom: 72px;
            margin-top: 72px;
        }
        div.menu a {
            color: white;
            text-decoration: none;
        }
        div.menu a:hover {
            color: black;
        }
    .container > div.footer {
        grid-area: footer;
        text-align: center;
    }
        div.footer ul {
            list-style-type: none;
        }


@media (max-width: 800px) { /*mobile-specific styles*/
    body {
        transform: scale(1);
    }

    .notice { 
        position: relative;
    }
    .container {
        grid-template-areas:
          "header"
          "image"
          "menu"
          "footer";
        grid-template-columns: 1fr;
        padding: 10px;
    }
        div.header h1 {
            font-size: 48px;
        }
        div.menu li {
            font-size: 48px;
            margin-bottom: 48px;
            margin-top: 48px;
        }
        .container > div {
            padding: 15px;
        }
        .container > div.image {
            text-align: center;
        }
        .container > div.menu {
            text-align: center;
            padding-right: 25vw;
        }
}
@media (max-height: 800px) and (orientation: landscape) {
    body {
        transform: scale(1);
    }

    .notice { 
        position: relative;
    }
    div.header h1{
        font-size: 36px;
    }
    div.menu li {
        font-size: 36px;
        margin-bottom: 36px;
        margin-top: 36px;
    }
}