body {
  font-family: sans-serif;
  font-size: 0.875em;
  margin: 0;
  padding: 0;
  background-color: #667658;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed; /* Works well in Firefox */
  font-family: 'Roboto', sans-serif;
}

.center {
  text-align: center;
  
}

/* Wrapper containing everything */
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1150px;
  background: black;
  margin: 0 auto;
  border-left: 5px solid #3c0303;
  border-right: 5px solid #3c0303;
}

/* Header and Footer */
.header, .footer {
  background-color: #524b27;
  background-size: cover;
  text-align: center;
  color: orange;
}

.header {
  height: 200px;
}

.footer {
  height: 50px;
}

/* Title */
.title {
  margin: 5px;
  color: orange;
}

.title h1, .title h2, .title h3, .title h4, .title h5, .title h6 {
  margin: 0;
  padding: 0;
}

.wrapper-2 {
  display: flex;
  width: 100%;
}

.main {
  flex: 80%;
  min-height: 100vh;
}

.sidebar-left, .sidebar-right {
  flex: 20%;
}

.sidebar-left {
  order: -1;
}

.sidebar-right {
  order: 1;
}

.box {
  background: #efbfc6;
  color: #c22828;
  border-top: 4px solid #8ab99c;
  border-bottom: 4px solid #528566;
  margin: 5px;
  padding: 5px;
}

.box img {
  max-width: 100%;
  height: auto;
}

.navbar {
	overflow: hidden;
}

.navbar {
  display: flex;
}

.navbar a {
  color: orange;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.navbar a:hover {
  color: lightskyblue;
}

.navbar a.right {
  margin-left: auto;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .wrapper-2 {
    flex-direction: column; /* Stack content vertically on small screens */
  }

  .main, .sidebar-left, .sidebar-right {
    flex: 0 0 100%; /* Each element takes up full width on mobile */
  }
}
