body  {
    margin: 0;
    padding: 0;
    background-color: black;
    color: orange;
    font-family: 'Roboto', sans-serif;
    background: url('../images/background.png');
    background-size: cover;
} 

/*container setup*/
.wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
}
.title  {
    margin-left: 8px;
    font-weight: 700;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
    font-size: 35px;
    color:white;
}
.frame  {
    max-width: 100%;
    margin-top: 8px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25), inset -1px 0 rgba(255,255,255, 0.5),inset 1px 0 rgba(255,255,255, 0.5),inset 0px 1px rgba(255,255,255, 0.5),inset 0px -1px rgba(255,255,255, 0.5);
    background:  rgba(255, 123, 0, 0.5);
    backdrop-filter: brightness(100%) blur(8px) saturate(150%);
}
.viewport  {
    min-height: 680px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.75);
    box-shadow: -1px 0 rgba(255, 255, 255, 0.5), 1px 0 rgba(255, 255, 255, 0.5), 0px 1px rgba(255, 255, 255, 0.5),0px -1px rgba(255, 255, 255, 0.5);
    background-color: rgba(245, 245, 220, 1);
    color: #333;
}

/*header*/
.hero  {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%,rgba(180, 180, 180, 0.5) 100%);
    background: url('../images/background.png');
    background-size: cover;
    background-blend-mode: overlay;
    box-shadow: 0 1px rgba(0, 0, 0, 0.75), inset 0 2px 4px rgba(0, 0, 0, 0.25), inset 0 -1px rgba(255, 255, 255, 0.5);
}
.logo  {
    width: 256px;
    min-height: 256px;
    background: url('../images/logo.png') no-repeat center;
}
.navbar {
  background-color: black;
  display: flex;
}
.navbar a {
  color: orange;
  text-align: left;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}
.navbar a:hover {
  color: lightskyblue;
}
.navbar a.right {
  margin-left: auto;
}

/*maincontent*/
.main  {
    width: 80%;
}
.sidebar  {
    width: auto;
}
.box {
    background: #efbfc6;
    color: #c22828;
    border-top: 4px solid #8ab99c;
    border-bottom: 4px solid #528566;
    margin: 5px;
    padding: 5px;
}
.box img {
    max-width: 100%;
    height: auto;
}

/*Generic*/
ul  {
    padding-left: 32px;
}
a {
    color: red;
    text-decoration-line: none;
}
a:hover {
    color: darkred;
    text-decoration-line: underline;
}

/*responsive*/
@media (min-width: 30em) {
    .row { width: 100%; display: table; table-layout: fixed; }
    .col { display: table-cell; }
}